<h1>My_Studios#index</h1>
<ul>
  <% @my_studios.each do |my_studio| %>
    <li><%= link_to my_studio.name, my_studio_path(my_studio) %> <%= link_to "edit", edit_my_studio_path(my_studio), class: "btn btn-success btn-sm"%> <%= link_to "delete", my_studio_path(my_studio), class: "btn btn-danger btn-sm", method: :delete, data: { confirm: "Are you sure?" } %>
  <% end %>
</ul>

<%= link_to "list a studio", new_my_studio_path, class: "btn btn-primary btn-lg" %>