.banner {
  background-size: cover;
  background-position: center bottom;
  padding: 150px 0;
  margin-bottom: 10px;
  height: 450px;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 50px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

.banner p {
  font-size: 30px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-family: 'Roboto', sans-serif;
}

// bigger banner for booking#show page
// .banner.booking-show-banner {
//   height: 100%;

// }

